<div class="home-container">
    <div class="back-img">
        <div class="show-trailer">
            <div class="bigger-logo"></div>
            <p></p>
        </div>
        <iframe [src]="safeSrc"></iframe>
    </div>
    <div class="char-show">
        <h1>MEET TASK 141</h1>
        <div class="task-items">
            <h3>John Price</h3>
            <img class="char-imgs" src="../../../../assets/img/dtop-_0000s_0000_Price.png" alt="">
        </div>
        <div class="task-items">
            <h3>John 'Soap' MacTavish</h3>
            <img class="char-imgs" src="../../../../assets/img/Operators-141_0000s_0002_Soap.png" alt="">
        </div>
        <div class="task-items">
            <h3>Simon 'Ghost' Riley</h3>
            <img class="char-imgs" src="../../../../assets/img/dtop-_0000s_0002_Ghost.png" alt="">
        </div>
    </div>
</div>