<div class="home-container">
    <div class="back-img">
        <div class="home-page-layout">
            <div class="bigger-logo"></div>
            <p>THE ULTIMATE WEAPON IS TEAM.
                Squad up and fight alongside the iconic operators of Task Force 141 with the return of Modern Warfare®.
            </p>
            <div class="show-trailer">
                <button class="show-trailer-btn" (click)="showVideoOverlay()"></button>
            </div>
            <div *ngIf="isVideoOverlayVisible" class="video-overlay">
                <div class="video-container">
                  <button (click)="hideVideoOverlay()" class="close-button"></button>
                  <iframe width="100%" height="100%" [src]="safeSrc" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
    </div>
    <div class="char-show">
        <h1>MEET TASK 141</h1>
        <div class="task-items">
            <h3>John Price</h3>
            <img class="char-imgs" src="../../../../assets/img/dtop-_0000s_0000_Price.png" alt="">
        </div>
        <div class="task-items">
            <h3>John 'Soap' MacTavish</h3>
            <img class="char-imgs" src="../../../../assets/img/Operators-141_0000s_0002_Soap.png" alt="">
        </div>
        <div class="task-items">
            <h3>Simon 'Ghost' Riley</h3>
            <img class="char-imgs" src="../../../../assets/img/dtop-_0000s_0002_Ghost.png" alt="">
        </div>
    </div>
</div>