.logo {
    padding: 10px;
    background-image: url('../img/logo.png');
    width: 11rem;
    height: 0.1rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: auto;
}

.logo:hover {
    height: 1rem;
    transition:0.5s ease-in-out;
}

.logo:not(:hover){
    transition:0.5s ;
}

.header {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    background-color: rgba(120, 120, 120, 0.5);
    backdrop-filter: blur(1px);
    left: 50%;
    transform: translate(-50%)
}

.navbar {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 1.2em;
    white-space: nowrap;
    padding: 0;
}

.navbar-div {
    display: flex;
    align-items: center;
    max-height: 2rem;
    padding: 10px;
}

.navbar-items {
    cursor: pointer;
    padding: 2px;
}

.navbar-items:hover {
    color: white;
    background-color: rgba(120, 120, 120, 0.9);
    transition: 0.4s ease-out;
}

.navbar :nth-child(6) {
    background-color: red;
    color: white;
}

.navbar :nth-child(6):hover {
    background-color: red;
    color: black;
    outline: 1px solid red;
    outline-offset: 5px;
    transition: 0.5s ease-out;
}