<div class="header">
    <div class="logo" routerLink="/"></div>
    <div class="navbar-div">
        <ul class="navbar">
            <li class="navbar-items" routerLink="task-force">TASK 141</li>
            <li class="navbar-items" routerLink="media">MEDIA</li>
            <li class="navbar-items" routerLink="support">SUPPORT</li>
            <li class="navbar-items">LOGIN</li>
            <li class="navbar-items">REGISTER</li>
            <li class="navbar-items">PURCHASE</li>
        </ul>
    </div>
</div>